<nav class="bg-gray-900 text-white p-4 flex justify-between items-center">
    <div class="text-xl font-bold">InnovaTube</div>
    <div class="flex space-x-4 items-center">
      <a routerLink="/" class="hover:underline">Inicio</a>
      <a routerLink="/search" class="hover:underline">Buscar</a>
      <a routerLink="/favorites" class="hover:underline">Favoritos</a>
  
      <ng-container *ngIf="loggedIn; else authLinks">
        <span class="text-sm">👤 {{ username }}</span>
        <button (click)="logout()" class="ml-2 hover:underline">Cerrar sesión</button>
      </ng-container>
      
  
      <ng-template #authLinks>
        <a routerLink="/login" class="hover:underline">Login</a>
        <a routerLink="/register" class="hover:underline">Registro</a> <!-- 🔥 Aquí -->
      </ng-template>
    </div>
  </nav>
  